
/*================================================================================================*/
/* Deutsche Uebersetzung: Erich N. Weitzeil (a.k.a. Benutzer Etepetete auf forums.virtualbox.org) */
/*================================================================================================*/

DLG_ALT_PROGRESS_DE DIALOG 47, 52, 273, 122
STYLE 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Klone virtuelle Festplatte..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX "Fortschritt", -1, 3, 1, 266, 52, BS_GROUPBOX
 LTEXT "Klone virtuelles Quelllaufwerk - bitte warten...", 300, 9, 13, 209, 8
 CONTROL "%ld%%", 200, "SSCCThermo", 0 | WS_CHILD | WS_VISIBLE | WS_BORDER, 9, 24, 252, 12
 LTEXT "Dateiname hier einfuegen...", 201, 9, 39, 252, 8
 GROUPBOX "Status", -1, 4, 54, 266, 46, BS_GROUPBOX
 LTEXT "Mbytes fertig:", -1, 9, 66, 55, 8
 LTEXT "0", 202, 70, 66, 58, 8
 LTEXT "Mbytes uebrig:", -1, 130, 66, 63, 8
 LTEXT "0", 203, 196, 66, 72, 8
 LTEXT "Zeit verstrichen:", -1, 9, 76, 58, 8
 LTEXT "0s", 204, 70, 76, 58, 8
 LTEXT "Zeit uebrig:", -1, 130, 76, 63, 8
 LTEXT "0s", 205, 196, 76, 64, 8
 LTEXT "Datenrate:", -1, 9, 86, 49, 8
 LTEXT "0cps.", 206, 70, 86, 58, 8
 PUSHBUTTON "Abbrechen", 2, 4, 105, 50, 14
}


DLG_SLIMVDI_DE DIALOG 171, 140, 365, 232
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Virtual HD Clone and Optimize v%lu.%02lX"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Dateinamen ", -1, 3, 2, 354, 47, BS_GROUPBOX
 LTEXT "Quelle:", -1, 9, 15, 28, 8
 EDITTEXT 200, 39, 13, 251, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Durchsuchen...", 201, 294, 12, 58, 14, WS_GROUP | WS_TABSTOP
 LTEXT "Ziel:", -1, 9, 32, 28, 8
 EDITTEXT 202, 39, 30, 251, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Durchsuchen...", 203, 294, 29, 58, 14, WS_GROUP | WS_TABSTOP
 GROUPBOX " Quelllaufwerksinfo ", -1, 3, 51, 354, 43, BS_GROUPBOX
 LTEXT "Gueltigkeitspruefung:", -1, 9, 62, 70, 8, NOT WS_GROUP
 LTEXT "Text", 204, 81, 61, 268, 12, NOT WS_GROUP | WS_BORDER
 LTEXT "Laufwerksgroesse:", -1, 9, 77, 59, 8, NOT WS_GROUP
 LTEXT "Text", 205, 81, 76, 66, 12, NOT WS_GROUP | WS_BORDER
 LTEXT "Dateisystem:", -1, 157, 77, 43, 8, NOT WS_GROUP
 LTEXT "Text", 206, 202, 76, 147, 12, NOT WS_GROUP | WS_BORDER
 GROUPBOX " Optionen ", -1, 3, 96, 354, 78, BS_GROUPBOX | WS_GROUP
 AUTOCHECKBOX "Erstelle neue UUID", 207, 9, 106, 88, 12
 AUTOCHECKBOX "Behalte alte UUID", 208, 9, 118, 100, 12
 AUTOCHECKBOX "Vergroessere virtuelles Laufwerk auf", 209, 9, 130, 131, 12
 EDITTEXT 210, 141, 130, 50, 12, WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "Vergroessere Partition", 211, 9, 142, 100, 12
 AUTOCHECKBOX "Verdichte Laufwerksdaten beim Kopieren", 212, 9, 154, 168, 12
 GROUPBOX " Ueber ", -1, 3, 177, 354, 26, BS_GROUPBOX | WS_GROUP
 CTEXT "Virtual HD Clone Utility v%lu.%02lX. Copyright (c) %lu - Don Milne (aka mpack).", 213, 6, 187, 345, 8, SS_CENTER | NOT WS_GROUP
 PUSHBUTTON "Partitions&info...", 300, 3, 211, 66, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Kopfdaten...", 301, 72, 211, 66, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Sektorenbetrachter...", 302, 140, 211, 77, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Los!", 1, 253, 211, 50, 14, WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "&Beenden", 2, 306, 211, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "(Wenn Du nicht weiss was eine UUID ist, lasse diese Einstellung ausgewaehlt!)", -1, 99, 108, 255, 8
}


DLG_PARTINFO_DE DIALOG 22, 31, 361, 116
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Partitionsinfo des virtuellen Laufwerks..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 LTEXT "Part-\nition", -1, 9, 14, 22, 16, NOT WS_GROUP
 DEFPUSHBUTTON "&Schliessen", 2, 150, 94, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "CHS Adresse\nerster Sektor", -1, 61, 14, 45, 16
 LTEXT "Partitions-\ntyp", -1, 121, 14, 31, 16
 LTEXT "CHS Adresse\nletzter Sektor", -1, 162, 14, 61, 16
 LTEXT "LBA Adresse\nerster Sektor", -1, 233, 14, 48, 16
 LTEXT "Anzahl\nSektoren", -1, 290, 14, 48, 16
 LTEXT "1", -1, 13, 39, 9, 8
 LTEXT "2", -1, 13, 50, 9, 8
 LTEXT "3", -1, 13, 61, 9, 8
 LTEXT "4", -1, 13, 72, 9, 8
 LTEXT "Boot-\nfaehig?", -1, 28, 14, 24, 16
 LTEXT "J", 200, 36, 39, 11, 8
 LTEXT "J", 201, 55, 39, 64, 8
 LTEXT "J", 202, 124, 39, 24, 8
 LTEXT "J", 203, 158, 39, 68, 8
 LTEXT "J", 204, 232, 39, 54, 8
 LTEXT "J", 205, 290, 39, 54, 8
 LTEXT "J", 206, 36, 50, 11, 8
 LTEXT "J", 207, 55, 50, 64, 8
 LTEXT "J", 208, 124, 50, 24, 8
 LTEXT "J", 209, 158, 50, 68, 8
 LTEXT "J", 210, 232, 50, 54, 8
 LTEXT "J", 211, 290, 50, 54, 8
 LTEXT "J", 212, 36, 61, 11, 8
 LTEXT "J", 213, 55, 61, 64, 8
 LTEXT "J", 214, 124, 61, 24, 8
 LTEXT "J", 215, 158, 61, 68, 8
 LTEXT "J", 216, 232, 61, 54, 8
 LTEXT "J", 217, 290, 61, 54, 8
 LTEXT "J", 218, 36, 72, 11, 8
 LTEXT "J", 219, 55, 72, 64, 8
 LTEXT "J", 220, 124, 72, 24, 8
 LTEXT "J", 221, 158, 72, 68, 8
 LTEXT "J", 222, 232, 72, 54, 8
 LTEXT "J", 223, 290, 72, 54, 8
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 353, 32, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 24, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 50, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 118, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 150, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 227, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 284, 83, BS_GROUPBOX
 GROUPBOX " Partitionsabbild ", -1, 3, 3, 353, 83, BS_GROUPBOX
}


DLG_VDI_HDR_INFO_DE DIALOG 32, 23, 251, 256
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "VDI Kopfdaten..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Kopfmetadaten ", -1, 3, 3, 244, 45, BS_GROUPBOX
 LTEXT "Info Text:", -1, 9, 14, 71, 8, NOT WS_GROUP
 LTEXT "Text", 200, 81, 14, 163, 8, NOT WS_GROUP
 DEFPUSHBUTTON "&Schliessen", 2, 97, 239, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "Signatur-Wort:", -1, 9, 24, 71, 8, NOT WS_GROUP
 LTEXT "Text", 201, 81, 24, 163, 8, NOT WS_GROUP
 LTEXT "Format-Version:", -1, 9, 35, 71, 8, NOT WS_GROUP
 LTEXT "Text", 202, 81, 35, 163, 8, NOT WS_GROUP
 GROUPBOX " Kopfdaten ", -1, 3, 49, 244, 143, BS_GROUPBOX
 LTEXT "Typ:", -1, 9, 59, 71, 8, NOT WS_GROUP
 LTEXT "Text", 203, 81, 59, 163, 8, NOT WS_GROUP
 LTEXT "Flags:", -1, 9, 69, 71, 8, NOT WS_GROUP
 LTEXT "Text", 204, 81, 69, 163, 8, NOT WS_GROUP
 LTEXT "Legacy-Geometrie:", -1, 9, 79, 71, 8, NOT WS_GROUP
 LTEXT "Text", 205, 81, 79, 163, 8, NOT WS_GROUP
 LTEXT "Laufwerksgroesse:", -1, 9, 89, 71, 8, NOT WS_GROUP
 LTEXT "Text", 206, 81, 89, 163, 8, NOT WS_GROUP
 LTEXT "Blockgroesse:", -1, 9, 99, 71, 8, NOT WS_GROUP
 LTEXT "Text", 207, 81, 99, 163, 8, NOT WS_GROUP
 LTEXT "Block-Extra-Bytes:", -1, 9, 109, 71, 8, NOT WS_GROUP
 LTEXT "Text", 208, 81, 109, 163, 8, NOT WS_GROUP
 LTEXT "Bloecke insgesamt:", -1, 9, 119, 71, 8, NOT WS_GROUP
 LTEXT "Text", 209, 81, 119, 163, 8, NOT WS_GROUP
 LTEXT "Bloecke zugeordnet:", -1, 9, 129, 71, 8, NOT WS_GROUP
 LTEXT "Text", 210, 81, 129, 163, 8, NOT WS_GROUP
 LTEXT "UUID (erstellen):", -1, 9, 139, 71, 8, NOT WS_GROUP
 LTEXT "Text", 211, 81, 139, 163, 8, NOT WS_GROUP
 LTEXT "UUID (aendern):", -1, 9, 149, 71, 8, NOT WS_GROUP
 LTEXT "Text", 212, 81, 149, 163, 8, NOT WS_GROUP
 LTEXT "UUID (Stamm):", -1, 9, 159, 71, 8, NOT WS_GROUP
 LTEXT "Text", 213, 81, 159, 163, 8, NOT WS_GROUP
 LTEXT "UUID (Saendern):", -1, 9, 169, 71, 8, NOT WS_GROUP
 LTEXT "Text", 214, 81, 169, 163, 8, NOT WS_GROUP
 LTEXT "LCHS Geometrie:", -1, 9, 179, 71, 8, NOT WS_GROUP
 LTEXT "Text", 215, 81, 179, 163, 8, NOT WS_GROUP
 GROUPBOX " Bemerkung ", -1, 3, 192, 244, 43, BS_GROUPBOX
 LTEXT "Text", 216, 9, 200, 225, 32, NOT WS_GROUP
}

DLG_VHD_HDR_INFO_DE DIALOG 34, 13, 245, 200
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "VHD Kopfdaten..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Fuss ", -1, 3, 3, 240, 103, BS_GROUPBOX
 LTEXT "Cookie-Text:", -1, 9, 14, 59, 8, NOT WS_GROUP
 LTEXT "Text", 200, 78, 14, 163, 8, NOT WS_GROUP
 DEFPUSHBUTTON "&Schliessen", 2, 92, 181, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "Eigenschaft-Flags:", -1, 9, 24, 59, 8, NOT WS_GROUP
 LTEXT "Text", 201, 78, 24, 163, 8, NOT WS_GROUP
 LTEXT "Format-Version:", -1, 9, 34, 59, 8, NOT WS_GROUP
 LTEXT "Text", 202, 78, 34, 163, 8, NOT WS_GROUP
 GROUPBOX " Dynamische Kopfdaten ", -1, 3, 107, 240, 69, BS_GROUPBOX
 LTEXT "Ersteller-App:", -1, 9, 44, 54, 8, NOT WS_GROUP
 LTEXT "Text", 203, 78, 44, 163, 8, NOT WS_GROUP
 LTEXT "Ersteller-OS:", -1, 9, 54, 59, 8, NOT WS_GROUP
 LTEXT "Text", 204, 78, 54, 163, 8, NOT WS_GROUP
 LTEXT "Virtuelle Groesse:", -1, 9, 64, 63, 8, NOT WS_GROUP
 LTEXT "Text", 205, 78, 64, 163, 8, NOT WS_GROUP
 LTEXT "VHD-Typ:", -1, 9, 73, 63, 8, NOT WS_GROUP
 LTEXT "Text", 206, 78, 73, 163, 8, NOT WS_GROUP
 LTEXT "UUID (erstellen):", -1, 9, 83, 60, 8, NOT WS_GROUP
 LTEXT "Text", 207, 78, 83, 163, 8, NOT WS_GROUP
 LTEXT "Speicherstatus-Flag:", -1, 9, 92, 68, 8, NOT WS_GROUP
 LTEXT "Text", 208, 78, 92, 163, 8, NOT WS_GROUP
 LTEXT "Bloecke insgesamt:", -1, 9, 119, 63, 8, NOT WS_GROUP
 LTEXT "Text", 209, 78, 119, 163, 8, NOT WS_GROUP
 LTEXT "Bloecke zugeordnet:", -1, 9, 129, 68, 8, NOT WS_GROUP
 LTEXT "Text", 210, 78, 129, 163, 8, NOT WS_GROUP
 LTEXT "Dyn Kopfdaten-Ver:", -1, 9, 139, 63, 8, NOT WS_GROUP
 LTEXT "Text", 211, 78, 139, 163, 8, NOT WS_GROUP
 LTEXT "Blockgroesse:", -1, 9, 149, 63, 8, NOT WS_GROUP
 LTEXT "Text", 212, 78, 149, 163, 8, NOT WS_GROUP
 LTEXT "UUID (Stamm):", -1, 9, 159, 63, 8, NOT WS_GROUP
 LTEXT "Text", 213, 78, 159, 163, 8, NOT WS_GROUP
}

DLG_HDD_HDR_INFO_DE DIALOG 58, 37, 191, 108
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "HDD Kopfdaten..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Kopfmetadaten ", -1, 3, 3, 185, 77, BS_GROUPBOX
 LTEXT "Info text:", -1, 9, 14, 59, 8, NOT WS_GROUP
 LTEXT "Text", 200, 77, 14, 107, 8, NOT WS_GROUP
 DEFPUSHBUTTON "&Schliessen", 2, 67, 87, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "Format-Version:", -1, 9, 24, 59, 8, NOT WS_GROUP
 LTEXT "Text", 201, 77, 24, 107, 8, NOT WS_GROUP
 LTEXT "Geometrie:", -1, 9, 34, 59, 8, NOT WS_GROUP
 LTEXT "Text", 202, 77, 34, 107, 8, NOT WS_GROUP
 LTEXT "Blockgroesse:", -1, 9, 44, 54, 8, NOT WS_GROUP
 LTEXT "Text", 203, 77, 44, 107, 8, NOT WS_GROUP
 LTEXT "Bloecke insgesamt:", -1, 9, 54, 66, 8, NOT WS_GROUP
 LTEXT "Text", 204, 77, 54, 107, 8, NOT WS_GROUP
 LTEXT "Virtuelle Groesse:", -1, 9, 64, 63, 8, NOT WS_GROUP
 LTEXT "Text", 205, 77, 64, 107, 8, NOT WS_GROUP
}

DLG_VMDK_HDR_INFO_DE DIALOG 15, 27, 424, 225
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "VMDK Kopfdaten..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Deskriptor ", -1, 3, 3, 416, 73, BS_GROUPBOX
 LTEXT "Version:", -1, 9, 13, 62, 8, NOT WS_GROUP
 LTEXT "Text", 200, 72, 13, 138, 8, NOT WS_GROUP
 LTEXT "Laufwerksignatur:", -1, 9, 23, 62, 8, NOT WS_GROUP
 LTEXT "Text", 201, 72, 23, 138, 8, NOT WS_GROUP
 LTEXT "Stammsignatur:", -1, 9, 33, 62, 8, NOT WS_GROUP
 LTEXT "Text", 202, 72, 33, 138, 8, NOT WS_GROUP
 LTEXT "Laufwerkstyp:", -1, 9, 43, 62, 8, NOT WS_GROUP
 LTEXT "Text", 203, 72, 43, 138, 8, NOT WS_GROUP
 LTEXT "UUID:", -1, 9, 53, 62, 8, NOT WS_GROUP
 LTEXT "Text", 204, 72, 53, 170, 8, NOT WS_GROUP
 LTEXT "nExtents:", -1, 9, 63, 62, 8, NOT WS_GROUP
 LTEXT "Text", 205, 72, 63, 138, 8, NOT WS_GROUP
 GROUPBOX " Extents ", -1, 3, 77, 417, 114, BS_GROUPBOX
 LTEXT "-------------Bloecke--------------", -1, 145, 84, 78, 8
 LTEXT "Zugriff", -1, 9, 102, 27, 8
 LTEXT "Typ", -1, 44, 102, 23, 8
 LTEXT "Sektoren", -1, 79, 102, 30, 8
 LTEXT "Versatz", -1, 116, 102, 24, 8
 LTEXT "Groesse", -1, 143, 102, 26, 8
 LTEXT "nGes-\namt", -1, 172, 94, 25, 16
 LTEXT "nZuge-\nordnet", -1, 197, 94, 30, 16
 LTEXT "Datei", -1, 231, 102, 30, 8
 LTEXT "nurLesen", 206, 9, 114, 30, 8
 LTEXT "spaerlich", 207, 44, 114, 30, 8
 LTEXT "419379205", 208, 79, 114, 38, 8
 LTEXT "0", 209, 118, 114, 17, 8
 LTEXT "0", 210, 146, 114, 20, 8
 LTEXT "0", 211, 172, 114, 24, 8
 LTEXT "0", 212, 201, 114, 25, 8
 LTEXT "Text", 213, 231, 114, 187, 8, NOT WS_GROUP
 DEFPUSHBUTTON "&Schliessen", 2, 175, 200, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "nurLesen", 214, 9, 123, 30, 8
 LTEXT "spaerlich", 215, 44, 123, 30, 8
 LTEXT "4193792", 216, 79, 123, 38, 8
 LTEXT "0", 217, 118, 123, 17, 8
 LTEXT "0", 218, 146, 123, 20, 8
 LTEXT "0", 219, 172, 123, 24, 8
 LTEXT "0", 220, 201, 123, 25, 8
 LTEXT "Text", 221, 231, 123, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 222, 9, 132, 30, 8
 LTEXT "spaerlich", 223, 44, 132, 30, 8
 LTEXT "4193792", 224, 79, 132, 38, 8
 LTEXT "0", 225, 118, 132, 17, 8
 LTEXT "0", 226, 146, 132, 20, 8
 LTEXT "0", 227, 172, 132, 24, 8
 LTEXT "0", 228, 201, 132, 25, 8
 LTEXT "Text", 229, 231, 132, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 230, 9, 141, 30, 8
 LTEXT "spaerlich", 231, 44, 141, 30, 8
 LTEXT "4193792", 232, 79, 141, 38, 8
 LTEXT "0", 233, 118, 141, 17, 8
 LTEXT "0", 234, 146, 141, 20, 8
 LTEXT "0", 235, 172, 141, 24, 8
 LTEXT "0", 236, 201, 141, 25, 8
 LTEXT "Text", 237, 231, 141, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 238, 9, 150, 30, 8
 LTEXT "spaerlich", 239, 44, 150, 30, 8
 LTEXT "4193792", 240, 79, 150, 38, 8
 LTEXT "0", 241, 118, 150, 17, 8
 LTEXT "0", 242, 146, 150, 20, 8
 LTEXT "0", 243, 172, 150, 24, 8
 LTEXT "0", 244, 201, 150, 25, 8
 LTEXT "Text", 245, 231, 150, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 246, 9, 159, 30, 8
 LTEXT "spaerlich", 247, 44, 159, 30, 8
 LTEXT "4193792", 248, 79, 159, 38, 8
 LTEXT "0", 249, 118, 159, 17, 8
 LTEXT "0", 250, 146, 159, 20, 8
 LTEXT "0", 251, 172, 159, 24, 8
 LTEXT "0", 252, 201, 159, 25, 8
 LTEXT "Text", 253, 231, 159, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 254, 9, 168, 30, 8
 LTEXT "spaerlich", 255, 44, 168, 30, 8
 LTEXT "4193792", 256, 79, 168, 38, 8
 LTEXT "0", 257, 118, 168, 17, 8
 LTEXT "0", 258, 146, 168, 20, 8
 LTEXT "0", 259, 172, 168, 24, 8
 LTEXT "0", 260, 201, 168, 25, 8
 LTEXT "Text", 261, 231, 168, 187, 8, NOT WS_GROUP
 LTEXT "nurLesen", 262, 9, 177, 30, 8
 LTEXT "spaerlich", 263, 44, 177, 30, 8
 LTEXT "4193792", 264, 79, 177, 38, 8
 LTEXT "0", 265, 118, 177, 17, 8
 LTEXT "0", 266, 146, 177, 20, 8
 LTEXT "0", 267, 172, 177, 24, 8
 LTEXT "0", 268, 201, 177, 25, 8
 LTEXT "Text", 269, 231, 177, 187, 8, NOT WS_GROUP
}


DLG_WRITE_SECTORS_DE DIALOG 12, 22, 365, 110
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Schreibe Sektoren in Datei..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 GROUPBOX " Dateinamen ", -1, 3, 2, 354, 77, BS_GROUPBOX
 LTEXT "Startsektor:", -1, 9, 15, 67, 8
 EDITTEXT 200, 84, 13, 59, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Anzahl Sektoren:", -1, 9, 33, 71, 8
 EDITTEXT 201, 84, 31, 59, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Dateiname:", -1, 9, 50, 60, 8
 EDITTEXT 202, 84, 48, 210, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Durchsuchen...", 203, 298, 47, 55, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Los!", 1, 251, 86, 50, 14, WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "&Abbrechen", 2, 305, 86, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
}


DLG_ALT_SECTOR_VIEWER_DE DIALOG -4, 6, 519, 242
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Sektorenbetrachter..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 LTEXT "Sektor:", 100, 5, 3, 131, 8, NOT WS_GROUP
 CONTROL "", 200, "SSCCHexView", 0 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 14, 498, 191
 SCROLLBAR 102, 503, 14, 12, 191, SBS_VERT | WS_GROUP
 PUSHBUTTON "Schreibe Sektoren in Datei...", 300, 5, 218, 110, 14, WS_GROUP | WS_TABSTOP
 RTEXT "Gehe zum Sektor:", 400, 126, 221, 75, 8
 EDITTEXT 103, 204, 219, 52, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Los!", 301, 257, 218, 22, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Als MBR betrachten", 302, 319, 218, 78, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Schliessen", 1, 463, 218, 50, 14, WS_GROUP | WS_TABSTOP
 LTEXT "Versatz:", 101, 138, 3, 65, 8, NOT WS_GROUP
}

STRINGTABLE 
LANGUAGE LANG_GERMAN,SUBLANG_GERMAN
{
   /* General */
   IDS_OK,              "Ok"
   IDS_NONE,            "Kein"
   IDS_ERROR,           "Fehler"
   IDS_UNKERROR,        "Unbekannter Fehler"
   IDS_NOYES,           "NJ"
   
   /* dialog resource names, should match dialog templates defined above */
   IDS_DLG_SLIMVDI,          "DLG_SLIMVDI_DE"
   IDS_DLG_ALT_PROGRESS,      "DLG_ALT_PROGRESS_DE"
   IDS_DLG_PARTINFO,          "DLG_PARTINFO_DE"
   IDS_DLG_VDI_HDR_INFO,      "DLG_VDI_HDR_INFO_DE"
   IDS_DLG_VHD_HDR_INFO,      "DLG_VHD_HDR_INFO_DE"
   IDS_DLG_HDD_HDR_INFO,      "DLG_HDD_HDR_INFO_DE"
   IDS_DLG_VMDK_HDR_INFO,     "DLG_VMDK_HDR_INFO_DE"
   IDS_DLG_WRITE_SECTORS,     "DLG_WRITE_SECTORS_DE"
   IDS_DLG_ALT_SECTOR_VIEWER, "DLG_ALT_SECTOR_VIEWER_DE"

   /* SlimVDI.c */
   IDS_SELECT_SOURCE,   "Quelldatei auswaehlen..."
   IDS_SRCFILEFILTER,   "virtuelle Laufwerksdateien\000*.vdi;*.vhd;*.vmdk;*.raw;*.img;*.hdd\000\000"
   IDS_SELECT_DEST,     "Zieldateinamen auswaehlen..."
   IDS_DSTFILEFILTER,   "virtuelle Laufwerksdateien\000*.vdi\000\000"
   IDS_UNKNOWNFS,       "Unbekannt (%02lx)"
   IDS_PLSSELSRC,       "Bitte ein virtuelles Quelllaufwerk auswaehlen"
   IDS_NOSRC,           "Kann nicht fortfahren - Quelldatei existiert nicht!"
   IDS_ERRAPPWND,       "Konnte Anwendungsfenster nicht erstellen (Fehler x%x)"

   /* Clone.c */
   IDS_LOMEM,           "Zu wenig Speicher! Konnte den Zwischenspeicher nicht zuordnen!"
   IDS_FINDINGUSEDBLKS, "Suche belegte Bloecke in den Partitionen - bitte warten..."
   IDS_CLONINGVHD,      "Klone virtuelle Festplatte..."
   IDS_CLONEWAIT,       "Klone virtuelles Laufwerk - bitte warten..."
   IDS_USERABORT,       "Benutzerabbruch"
   IDS_ORIGINAL,        "Original "
   IDS_SNAPSHOT,        "Die Quelle ist ein differenzierendes Datentraegerabbild. Bedauere, dieses Werkzeug ist (noch) nicht in der Lage solche Abbilder zu klonen"
   IDS_SIZEERR2,        "Die neue Laufwerksgroesse muss eine Zahl gefolgt von 'GB' oder 'MB' sein, um den Groessenbereich anzugeben"
   IDS_SIZEERR3,        "Falsches Zahlenformat oder eine zu grosse Zahl im Eingabefeld für die Groesse des neuen Laufwerks"
   IDS_SIZEERR4,        "Die neue Laufwerksgroesse muss mindestens so gross wie die alte Laufwerksgroesse sein"
   IDS_SIZEERR5,        "Dieses Werkzeug kann virtuelle Laufwerke nur bis zu einer Groesse von 2047.00 GB erstellen"
   IDS_BADNUM,          "Falsche Zahl im Eingabefeld für die Groesse des neuen Laufwerks"
   IDS_ERRRENAME,       "Konnte die alte VDI nicht umbenennen - eine Sicherungsdatei mit dem vorgesehenen Namen existiert bereits! Darum behaelt der Klon seinen temporaeren Dateinamen von '%s'"

   /* cmdline.c */
   IDS_USAGE00,         "\015\012Verwendung: SlimVDI <Quelldateiname> {Optionen}\015\012"
   IDS_USAGE01,         "\015\012"
   IDS_USAGE02,         "Option-Name         Wirkung\015\012"
   IDS_USAGE03,         "-----------         ------\015\012"
   IDS_USAGE04,         "-o oder --output    Setzt Ausgabedateiname. Ein Dateiname sollte\015\012"
   IDS_USAGE05,         "                    als naechstes Argument folgen. Zieldateiname\015\012"
   IDS_USAGE06,         "                    wird mit 'Klon von '+<Quelle> vorbelegt\015\012"
   IDS_USAGE07,         "-k oder --keepuuid  Zieldatei erbt UUID der Quelle.\015\012"
   IDS_USAGE08,         "                    Standardeinstellung ist eine neue UUID zu erstellen.\015\012"
   IDS_USAGE09,         "-e oder --enlarge   Vergroessert max. Laufwerksgroesse. Vorgesehene Groesse\015\012"
   IDS_USAGE10,         "                    sollte als naechstes Argument folgen,\015\012"
   IDS_USAGE11,         "                    z.B. 256.00MB, 64.00GB.\015\012"
   IDS_USAGE12,         "-r oder --repart    Enlarge main partition (ignored unless\015\012"
   IDS_USAGE13,         "                    --enlarge option also set).\015\012"
   IDS_USAGE14,         "-c oder --compact   Aktiviert die Datenverdichtung (ausschliesslich\015\012"
   IDS_USAGE15,         "                    fuer unterstuetzte Gast-Dateisysteme).\015\012"
   IDS_USAGE16,         "-h oder --help      Zeigt diese Benutzungsinformation an.\015\012"
   IDS_USAGE17,         "\015\012"
   IDS_USAGE18,         "Optionen koennen gruppiert werden, z.B. -kce oder --keepuuid+enlarge. Options-\015\012"
   IDS_USAGE19,         "parameter sollten in der gleichen Reihenfolge wie die Gruppe angegeben werden.\015\012"
   IDS_BANNER0,         "\015\012SlimVDI %lu.%02lx\015\012"
   IDS_BANNER1,         "Copyright (C) %lu, Don Milne\015\012"
   IDS_BANNER2,         "Rueckmeldungen an: mpack auf forums.virtualbox.org\015\012"
   IDS_ARGERR,          "Fehler im Argument %lu: %s.\015\012"
   IDS_OPTTWICE,        "Fehler im Argument %lu: %s Option doppelt angegeben.\015\012"
   IDS_NOFILEN,         "Ausgabeoption angegeben, kein Dateiname bestimmt"
   IDS_NODSIZE,         "Vergroesserungsoption angegeben, keine Laufwerksgroesse bestimmt"
   IDS_UNKOPT,          "Unbekannte Option."
   IDS_INVOPT,          "Ungueltiges Optionsformat (eingefuegtes Leerzeichen?)"
   IDS_SRCTWICE,        "Quellenname zweimal angegeben? Zieldatei sollte mit --output <Dateiname> Option angegeben werden"
   IDS_NEEDSRC,         "Quelldateiname fehlt"
   IDS_VOPTOUTPUT,      "Ausgabe"   /* these are the command line option verbose names ... */
   IDS_VOPTKEEPUUID,    "behalteuuid" /* ... stored here so they can be localised too... */
   IDS_VOPTENLARGE,     "vergroessern"
   IDS_VOPTCOMPACT,     "verdichten"
   IDS_VOPTHELP,        "Hilfe"
   IDS_CHAROPT,         "AbvvH"    /* command line options single char names (char index decides which option it is) ... */

   /* env.c */
   IDS_CLONEOF,         "Klon von "

   /* SectorViewer.c */
   IDS_SVOFFSET,        "Versatz = %lu"
   IDS_SVSECTOR,        "Sektor %lu von %lu"
   IDS_SVDESTFN,        "Zieldateiname auswaehlen..."
   IDS_SVBINFLT,        "Binaerdateien\000*.bin\000\000"
   IDS_SVPEVALSS,       "Bitte einen gueltigen Startsektor eingeben"
   IDS_SVPEVALSW,       "Bitte eine gueltige Anzahl zu schreibende Sektoren eingeben"
   IDS_SVNOSPACE,       "Nicht genuegend freier Platz im Zielverzeichnis"
   IDS_SVINVPATH,       "Ungueltiger Pfad"
   IDS_SVACCDEN,        "Schreibzugriff verweigert"
   IDS_SVWRPROT,        "Ziellaufwerk ist schreibgeschuetzt"
   IDS_SVOVERWR,        "Ziel existiert bereits. Bist Du sicher, dass Du es ueberschreiben willst?"
   IDS_SVEXISTS,        "Datei vorhanden"
   IDS_SVLOWMEM,        "Zu wenig Speicher! Konnte den Zwischenspeicher nicht zuordnen!"
   IDS_SVWRSECT,        "Schreibe Sektoren - bitte warten..."
   IDS_SVPRCAPT,        "Schreibe Sektoren..."
   IDS_SVWRERR,         "Schreibfehler!"
   IDS_SVABORT,         "Benutzerabbruch"

   /* ShowHeader.c */
   IDS_DYNAMIC,         "Dynamisch"
   IDS_FIXED,           "Feste Groesse"
   IDS_UNDO,            "Rueckgaengig"
   IDS_DIFFERENCING,    "Differenzierend"
   IDS_SET,             "Gesetzt"
   IDS_NOTSET,          "Nicht gesetzt"
   IDS_NOTSPEC,         "Nicht angegeben"
   IDS_ACCTYPE0,        "?"
   IDS_ACCTYPE1,        "LS"
   IDS_ACCTYPE2,        "Lesen"
   IDS_ACCTYPE3,        "Kein"
   IDS_EXTTYPE0,        "?"
   IDS_EXTTYPE1,        "Flach"
   IDS_EXTTYPE2,        "Spaerlich"
   IDS_EXTTYPE3,        "Null"

   /* generic error messages for VxxxR (source file format handler) modules */
   IDS_VDNOEXIST,       "Die Quelldatei existiert nicht"
   IDS_VDERRSHARE,      "Quelldatei wird bereits verwendet (laeuft VirtualBox?)"
   IDS_VDERRREAD,       "OS-Fehler %lu beim Lesen der Quelldatei gemeldet"
   IDS_VDNOTVDI,        "Quelldatei wird nicht als VDI Dateiformat erkannt"
   IDS_VDNOTVHD,        "Quelldatei wird nicht als VHD Dateiformat erkannt"
   IDS_VDNOTVMDK,       "Quelldatei wird nicht als VMDK Dateiformat erkannt"
   IDS_VDNOTHDD,        "Quelldatei wird nicht als HDD Dateiformat erkannt"
   IDS_VDINVHANDLE,     "Ungueltiges Handle an VDx Quellobjekt uebergeben"
   IDS_VDNOMEM,         "Nicht genuegend Speicher um Quelldatei abzubilden"
   IDS_VDSEEKRANGE,     "Applikation versuchte ueber das Ende des Laufwerks zuzugreifen!"
   IDS_VDERRFMT,        "Quelle besitzt ein seltsames Format, das inkompatibel mit diesem Werkzeug ist"
   IDS_VDERRSEEK,       "OS-Fehler %lu beim Suchen innerhalb der Quelldatei gemeldet"
   IDS_VDBLKMAP,        "Quelldatei beschaedigt - Blockabbild enthaelt Fehler"
   IDS_VDNODESC,        "VMDK unvollstaendig - Laufwerksdeskriptor nicht gefunden"
   IDS_VDINVDESC,       "Ungueltiger VMDK Laufwerksdeskriptor"
   IDS_VDBADVER,        "VMDK Versionsnummer wurde nicht erkannt"
   IDS_VDMISSING,       "Erforderlichen Parameter des VMDK Deskriptors fehlen"
   IDS_VDERRCOMP,       "Komprimierte VMDKs werden zurzeit nicht unterstuetzt"
   IDS_VDNOEXTENT,      "Eine vom Deskriptor referenzierte Extent-Datei fehlt (umbenannt?)"

   /* vdiw.c */
   IDS_VWERRPATH,       "Zielpfad existiert nicht"
   IDS_VWEXISTS,        "Zieldatei existiert bereits"
   IDS_VWNOSPACE,       "Nicht genuegend freier Platz auf Ziellaufwerk"
   IDS_VWWRPROT,        "Ziellaufwerk ist schreibgeschuetzt"
   IDS_VWACCDEN,        "Zugriff auf Ziellaufwerk wurde verweigert"
   IDS_VWNOMEM,         "Zu wenig Speicher"
   IDS_VWWRERR,         "Laufwerk Schreibfehler"
   IDS_VWBLOCK,         "Versuchte ueber das Ende des virtuellen Laufwerks Bloecke zu schreiben"
   IDS_VWEXISTSQ,       "Ziel existiert bereits. Bist Du sicher, dass Du es ueberschreiben willst?"
   IDS_VWEXISTSC,       "Datei vorhanden"
}

